<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hareketler - Actions - Acts</title>

    <style>
    .action-frame{display: flex; flex-direction: column;}
    .action-item{display: flex; margin: 10px 0;}
    .action-item > * {margin-left: 15px;} 
    </style>
</head>
<body>
    
    <div class="action-frame">
        {% for action in hareket %}
        <div class="action-item">
            <span> {{action.activity}} </span>
            <span> {{action.name}} </span>
            <a href="{% url 'aktifet' action.slug %}">Aktif Et</a>
            <a href="{% url 'pasifet' action.slug %}">Pasif Et</a>
        </div>
        {% endfor %}
    </div>

</body>
</html>